<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <Folio>
    <Serie>?</Serie>
    <FolioInicial>?</FolioInicial>
    <Foliofinal>?</Foliofinal>
    <FolioActual>?</FolioActual>
  </Folio>
  <SuperUsuario>
    <!--El usuario y contraseña deberan ir encriptados-->
    <User>Admin</User>
    <Password>Admin01</Password>
  </SuperUsuario>
  <Adenda>
    <Datos>false</Datos>
  </Adenda>
  
</Config>
